<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bryan.studycodes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        >
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".largeimage.LargeImageSample"/>
        <activity android:name=".activity.GridHeaderActivity"/>
        <activity android:name=".activity.ProgressBarActivity"/>
        <activity android:name=".activity.MeasureActivity"/>
        <receiver android:name=".appwidget.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info"
                />
                <intent-filter>
                    <action android:name="com.bryan.studycodes.action.CLICK"></action>
                    <!--这个action必需要-->
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
                </intent-filter>
        </receiver>
    </application>

</manifest>
