<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bryan.studycodes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!--自定义Launcher，只有原生android手机有效-->
        <activity
            android:name=".activity.LauncherActivity"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="mcc|mnc|orientation|keyboardHidden|screenSize|keyboardHidden|navigation|screenLayout|fontScale|uiMode|smallestScreenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/LauncherTheme"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.HOME"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.MONKEY"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.MainActivity"
           android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".largeimage.LargeImageSample" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.GridHeaderActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.ProgressBarActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.MeasureActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.MoveActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.MessengerActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.BookManagerActivity" />
        <activity
            android:name=".activity.ImageLoaderActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.CustomCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.LetterActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".vdh.VDHActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".vdh.LeftDrawerLayoutActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.LocalSocketActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.BottomSheetActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.FrescoActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.FrescoSingleActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.FrescoListActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.FrescoPhotoActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.WebViewActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.BluetoothActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.WiFiDirectActivity"/>

        <receiver android:name=".appwidget.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
            <intent-filter>
                <action android:name="com.bryan.studycodes.action.CLICK"></action>
                <!--这个action必需要-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
        </receiver>

        <service
            android:name=".messenger.MessengerService"
            android:process=":remote1" />
        <service
            android:name="com.bryan.aidl.BookManageService"
            android:process=":remote2" />
    </application>

</manifest>
